<table class="table table-bordered" >
<tr>
<th>Id</th>
<th>Name</th>
<th>Account number</th>
<th>Billing Street</th>
<th>Billing State</th>
<th>Billing Cityr</th>
<th>Billing Country</th>
<th>Billing Postal Code</th>
</tr>
<%= @accounts.each do |account| %>
<tr>
<td><%=account.Id %></td>
<td><%=account.Name %></td>
<td><%=account.AccountNumber%></td>
<td><%=account.BillingStreet%></td>
<td><%=account.BillingState %></td>
<td><%=account.BillingCity %></td>
<td><%=account.BillingCountry %></td>
<td><%=account.BillingPostalCode %></td>

</tr>
<% end %>
</table>